<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configurações do PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/zad_inventory</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">gH8foP04YTM34</property>

        <!-- Dialeto específico do PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Configurações gerais do Hibernate -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- update, create, validate, create-drop -->

        <!-- Mapeamento das entidades -->
        <!-- Adicione suas classes de entidade aqui -->

        <mapping class=""/>
        <mapping class="com.exemplo.model.Cliente"/>
        <mapping class="com.exemplo.model.Pedido"/>
    </session-factory>
</hibernate-configuration>