<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
             http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd"
             version="2.2">

    <persistence-unit name="zad_inventory" transaction-type="RESOURCE_LOCAL">
        <class>zad_inventory.entity.UsuarioEntity</class>
        <class>zad_inventory.entity.CategoriaEntity</class>
        <class>zad_inventory.entity.ProdutoEntity</class>
        <class>zad_inventory.entity.OperacaoEntity</class>
        <class>zad_inventory.entity.SituacaoEntity</class>

        <properties>
            <!-- Conexão com o PostgreSQL -->
            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/zad_inventory"/>
            <property name="javax.persistence.jdbc.user" value="postgres"/>
            <property name="javax.persistence.jdbc.password" value="3110"/>

            <!-- Hibernate configs -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
        </properties>
    </persistence-unit>
</persistence>
